@media (min-width: 801px) {
  .imgMenu,
  .imgLogo {
    display: none;
  }

  main {
    flex-direction: row;
  }

  .div-half {
    background-color: #f2ae2f;
    height: 169px;
    width: 18px;
    margin-top: 31px;
  }

  .paragraph {
    text-align: justify;
    padding: 19px;
    height: 162px;
    width: 50%;
  }

  ul {
    overflow: hidden;
    justify-content: center;
  }

  .paw-red {
    width: 140px;
  }

  .title-ul {
    font-weight: bold;
    color: #f22222;
  }
  .div-hide {
    display: block;
  }
}
